.navbar {
    background-color: rgb(216, 221, 230, .5);
    height: 50px;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #F7F9FB;
    font-size: 16px;
    font-weight: normal;
}

.active {
  color: #2C3E50;
  font-size: 20px;
  font-weight: bold;
}