@import "tailwindcss";
/* You can add global styles to this file, and also import other style files */
:root {
    --primary: #F7F9FB;
    --secondary: #D8DDE6;
    --font-main: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: var(--font-main);
    background: #2C3E50;
    color: var(--primary);
}